.element-1 {
	height: 60vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	color: var(--clr-primary-1);
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../assets/pexels-mali-maeder-802221.jpg') center/cover;
	margin-bottom: 2rem;
}

.about-container-2 {
	background: url(../assets/Login-background.jpg);
	background-attachment: fixed;
}

.about-container {
	background: hsla(155, 18%, 19%, 0.9);
	background-attachment: fixed;
	overflow: scroll;
}
.section {
	color: var(--clr-primary-9);
	display: block;
	width: 100%;
	background: rgba(150, 150, 150, 0.4);
	margin: 0;
	border-radius: 3rem;
	text-align: center;
	padding: 1rem 2rem;
}

.section h1 {
	text-align: center;
}

.Re {
	color: var(--clr-primary);
	font-size: 5rem;
	text-transform: uppercase;
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	25% {
	}
	100% {
		opacity: 1;
	}
}

.first,
.second {
	animation: appear 1s ease;
}
.first::first-letter {
	color: var(--clr-primary-7);
	animation: appear 1s ease;
}

.second::first-letter {
	align-self: center;
	color: var(--clr-primary-7);
}

.element-2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	width: 90vw;
	font-size: 2rem;
	max-width: 600px;
}

.element-2 p {
	color: var(--clr-primary-1);
}

@media screen and (max-width: 500px) {
	.Re {
		font-size: 3rem;
	}

	.section h1 {
		font-size: 2rem;
	}

	.section p {
		font-size: 1rem;
	}
}
