p {
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 2%;
}

h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
