.login-page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: hsla(155, 18%, 19%, 0.9);
}
.login-image {
	background: url(./assets/Login-background.jpg);
	width: 100%;
	height: 100%;
	object-fit: cover;
}
